<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CheckinSvc.Properties.Settings.CheckinConnectionString1" connectionString="Data Source=|DataDirectory|\Checkin35.sdf;Persist Security Info=True" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="SafeInterpretEntities" connectionString="metadata=res://*/InterpretationModel.csdl|res://*/InterpretationModel.ssdl|res://*/InterpretationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQL2012;initial catalog=SafeInterpret;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InterpretationDBContext" connectionString="metadata=res://*/InterpretationModel.csdl|res://*/InterpretationModel.ssdl|res://*/InterpretationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQL2012;initial catalog=SafeInterpret;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="DatabaseServer" value="GEQA5CPS1201" />
    <add key="DatabaseInstance" value="" />
    <add key="DatabaseName" value="centricityps12demo" />
    <add key="DatabaseUser" value="sa" />
    <add key="DatabasePassword" value="EAAAACwT2ETmILiaSUK3820840sALt1igdQ220La++2HvucE" />
    <add key="PracticeID" value="23853" />
    <add key="IntegrationID" value="1234" />
    <add key="GroupID" value="1033" />
    <add key="LocationID" value="3720" />
    <add key="ServicePort" value="9002" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>