<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CheckinSvc.Properties.Settings.CheckinConnectionString1" connectionString="Data Source=|DataDirectory|\Checkin35.sdf;Persist Security Info=True" providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="DatabaseServer" value="GEQA5CPS1201"/>
    <add key="DatabaseInstance" value=""/>
    <add key="DatabaseName" value="centricityps12demo"/>
    <add key="DatabaseUser" value="sa"/>
    <add key="DatabasePassword" value="EAAAACwT2ETmILiaSUK3820840sALt1igdQ220La++2HvucE"/>
    <add key="PracticeID" value="23853"/>
    <add key="IntegrationID" value="1234"/>
    <add key="GroupID" value="1033"/>
    <add key="LocationID" value="3720"/>
    <add key="ServicePort" value="9002"/>
  </appSettings>
</configuration>
